<link rel="stylesheet" href="stylesheets/login.css">
<h1>login</h1>
<form action="/login" method="post">
    <label for="">email</label>
    <input type="email" name="email" required><br>
    <label for="">password</label>
    <input type="password" name="password" required><br>
    <button>login</button>
</form>