<form action="" method="post" enctype="multipart/form-data">
    <label for="">about:</label>
    <textarea name="about" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">qualification:</label>
    <textarea name="qualification" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">skills:</label>
    <textarea name="skills" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">experience:</label>
    <textarea name="experience" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">image</label>
    <input type="file" name="image" accept=".jpg"><br><br>
    <label for="">resume:</label>
    <input type="file" name="resume" accept=".pdf"><br><br>
    <label for="">job category:</label>
    <select name="jobcategory">
        <option selected>select job category</option>
        <option value="software">software</option>
        <option value="architecture">architecture</option>
        <option value="finance">finance</option>
        <option value="marketing">marketing</option>
    </select>
    <label for="">language</label>

    <input type="checkbox" name="language" value="english">
    <label for="english">english</label><br>
    <input type="checkbox" name="language" value="malayalam">
    <label for="malayalam"> malayalam</label><br>
    <input type="checkbox" name="language" value="hindi">
    <label for="hindi">hindi</label>
    <button type="submit">submit</button>


</form>