<h1>addjob</h1>
<form action="/company/addjob" method="post">
    <label for="">title</label>
    <input type="text" name="title"><br><br>
    <label for="">description</label>
    <textarea id="" cols="30" rows="10" name="description"></textarea><br><br>
    <label for="">qualification</label>
    <input type="text" name="qualification"><br><br>
    <label for="">vaccancy</label>
    <input type="number" name="vaccancy"><br><br>
    <label for="">salary</label>
    <input type="number" name="salary"><br><br>
    <label for="">experience</label>
    <input type="text" name="experience"><br><br>

    <label for="">lastdate</label>
    <input type="text" name="lastdate"><br><br>
    <label for="">jobtype</label>
    <select class="form-select" aria-label="Default select example" name="jobtype">
        <option selected>Open this select menu</option>
        <option value="1">remote</option>
        <option value="2">partime</option>
        <option value="3">fulltime</option>
    </select>
    <button type="submit">submit</button>
</form>