<link rel="stylesheet" href="/stylesheets/login.css">
<div class="login-box">
    <h1 class="loginhead"> login</h1>
    <form action="/company/login" method="post">

        <div class="user-box">
            <input required="" name="email" type="text">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input required="" name="password" type="password">
            <label>Password</label>
        </div>
        <button type="submit" class="login">
            login
        </button>
    </form>
    <p>Don't have an account? <a href="" class="a2">Sign up!</a></p>
</div>
</div>