<form action="/company/updateprofile" method="post" enctype="multipart/form-data">
    <label for="">image:</label>
    <input type="file" name="image" accept=".jpg"><br><br>
    <label for="">about:</label>
    <textarea name="about" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">address:</label>
    <textarea name="address" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">mission:</label>
    <textarea name="mission" id="" cols="30" rows="10"></textarea><br><br>
    <label for="">vision:</label>
    <textarea name="vision" id="" cols="30" rows="10"></textarea><br><br>
    <button>save</button>

</form>