<link rel="stylesheet" href="/stylesheets/viewjob.css">


<div class="card">
    <div class="card-details">
        <p class="text-title">title</p>
        <p class="text-body">qualification:</p>
        <p class="text-body">vaccancy:</p>
        <p class="text-body">salary:</p>
        <p class="text-body">experience:</p>
        <p class="text-body">jobtype:</p>
        <p class="text-body">lastdate:</p>
        <p class="text-body">dateposted:</p>
        <p class="text-body">status:</p>

        {{!-- <button>BUTTON</button> --}}
    </div>
    <div class="buttons">
        <div class="button">
            <button class="card-button">edit</button>
            <button class="card-button">delete</button>

        </div>
    </div>