{{#each jobs}}
<p>name:{{userName}}</p>
<p>job title:{{jobTitle}}</p>
<p>status:{{status}}</p>
<button>accept</button>
<button>reject</button>
<a href="/company/viewuserprofiles/{{userId}}"><button>viewuserprofile</button></a>
{{/each}}